@model Employee_Project_Review_Scheduler.Models.EmployeeViewModel

@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Shared/_SchedulerMasterPage.cshtml";
    Layout = "~/Views/Shared/_EmployeeMasterPage.cshtml";
}

<h2>Scheduler Page</h2>



