@model Employee_Project_Review_Scheduler.Models.ReviewDetailsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeMasterPage.cshtml";
}

<h2>Index Page for schedule</h2>


