
@{
    ViewBag.Title = "NoSchedule";
    Layout = "~/Views/Shared/_EmployeeMasterPage.cshtml";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>NoSchedule</h2>

<div class="noschedule">
    There is no review is scheduled for you!!!
</div>
<div class="noschedule">
    Happy Learning!!!
</div>

<div class="noschedule">
    Thank You!!!
    </div>
